# Core
.env
vendor/
config/key.php
config/oauth.php

# Log
*.log
error_log
logs/

# Backup
*.bak
*.bak.*

# Uploads
admin/uploads 
uploads/
public/pages
public/uploads

# Etc
readme/
public/assets/fontawesome/
styling.html
BUGFIXES.txt

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/